@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body, html{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    height: 72px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    position: relative;
    display: inline-block;
}
nav{
    width: 100%;
    height: auto;
    margin: 0px;
}
.navbar_container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 0; 
    margin: 0px;
    background-color: #7A8D9B;
    color:white;
}
li{
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
header img{
    width:100%;
    height: 523px;
    object-fit: cover;
    opacity: 0.8;
}
.texto-encima{
    position: absolute;
    font-size: 72px;
    font-weight: bold;
    top: 200%;
    left: 50%;
    color:white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(180, 171, 171, 0.4);
    transform: translate(5%);
    animation-name: presentacion;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes presentacion {
    0%{
        transform: translate(-110%) ;
        
    }
    50%{
        box-shadow: 0px 0px 32px 11px rgba(250,245,250,0.99);
    }
    100%{
        transform: translate(5%);
    }
}
.navbar_container li h1{
    color: #DABEB6;
}
.navbar_container li h1:hover{
   letter-spacing: 2px;
   transition: all 0.7s;
}
span{
    margin-right: 10px;
}
.navbar_container li a{
    text-decoration: none;
    color: white;
}
.navbar_container li h2 input::placeholder{
    font-style: italic;
}

.texto-encima2{
    position:absolute;
    top: 650%;
    left: 3%;
    background-color: rgba(180, 171, 171, 0.4);
    color:white;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transform: translate(3%);
    animation-name: presentacion2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes presentacion2 {
    0%{
        transform: translate(110%) ;
        
    }
    50%{
        box-shadow: 0px 0px 32px 11px rgba(250,245,250,0.99);
    }
    100%{
        transform: translate(3%);
    }
}



